<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Customer Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <span class="navbar-text">
        LogOut <i class="fas fa-sign-out-alt"></i>
      </span>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-dark vh-100 sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item"></li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/customer">
              Customers
              <i class="fas fa-id-badge"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer/add">
              Add
              <i class="fas fa-user-edit"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10">
      <div class="row">
        <div class="col-12 py-3">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
</div>
